<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.name %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<%- include('partials/header') %>
<%- include('partials/menu',{userIcon: userIcon,userName: userName, cart: cart }) %>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <img src="<%= movie.posterUrl %>" class="img-fluid" alt="<%= movie.name %>">
            <%
            // Check if the movie is already in the cart
            const movieInCart = cart.some(item => item._id.toString() === movie._id.toString());
            %>
            <% if (movieInCart) { %>
                <div class="alert alert-warning">
                    Movie already in the cart
                </div>
            <% } else { %>
                <form action="/cart/add" method="POST">
                    <input type="hidden" name="movieId" value="<%= movie._id %>">
                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                </form>
            <% } %>
        </div>
        <div class="col-md-6">
            <h2><%= movie.name %></h2>
            <p><strong>Director:</strong> <%= movie.director %></p>
            <p><strong>Actors:</strong> <%= movie.actors.join(', ') %></p>
            <p><strong>Tags:</strong> <%= movie.tags.join(', ') %></p>
            <p><strong>Description:</strong> <%= movie.description %></p>
            <p><strong>Rating:</strong> <%= movie.rating %></p>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>
