<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Store</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<%- include('partials/header') %>
<div class="container mt-4">
    <div class="row">
        <% movies.forEach(movie => { %>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <a href="/movie/<%= movie._id %>" class="card-link">
                    <div class="card custom-card">
                        <div class="img-container">
                            <img src="<%= movie.posterUrl %>" class="card-img-top" alt="<%= movie.name %>">
                            <div class="overlay">
                                <div class="text"><%= movie.name %></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        <% }); %>
    </div>
</div>
</body>
</html>
